export("Lag", "runMean", "harmonic", "tsdecomp")

importFrom(stats, "filter")
import(splines)

S3method("plot", "tsdecomp")

export("poolCoef", "coefSeasonal", "extractBetaCov", "LouisFormat",
       "fitCitySeason", "multiDFFit", "gibbspool")

import(tlnise)
importFrom(MASS, "mvrnorm")
