export("Lag", "runMean", "harmonic", "tsdecomp")

importFrom(stats, "filter")
import(splines)

S3method("plot", "tsdecomp")

export("spatialgibbs")
importFrom("graphics", "par", "plot")
importFrom("stats", "as.formula", "complete.cases", "dist", "fft",
    "glm.control", "mahalanobis", "quantile", "rgamma", "rnorm",
     "runif", "terms")
